h1 {
    border: 10px solid green;
    background-color: green;
    font-size: 80px;
}
h2 {
    border: 2px dashed darkturquoise;
    background-color: darkturquoise;
    font-size: 35px;
    display: inline-flexbox;
}
h3 {
    border: 2px solid violet;
    background-color: violet;
    font-size: 35px;
}
h4 {
    border: 2px solid coral;
    background-color: coral;
    font-size: 35px;
}
h5 {
    border: 2px solid lightpink;
    background-color: lightpink;
    font-size: 35px;
}
h6 {
    border: 2px solid red;
    background-color: red;
    font-size: 35px;
}
 {

}